---
layout: default
title: index
---
<p class="h3"><a href="{{ site.baseurl }}/welcome.html">welcome!</a></p>
<ul>
  {% for cat in site.categories %}
    <h2>
	    {{ cat[0] }}
    </h2>
	<ul>
	  {% for post in cat[1] %}
	    <li>
	<button type="button" class="btn btn-outline-primary mt-2"><a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a></button>

	    </li>
	  {% endfor %}
	</ul>
  {% endfor %}
</ul>

<h2>Static files</h2>
{% assign image_files = site.static_files | reverse %}
<ul>
{% for myimage in image_files | offset: 2 %}
	    <li>
	<button type="button" class="btn btn-outline-primary mt-2"><a href="{{myimage.path| prepend: site.baseurl}}">{{ myimage.name }}</a></button>
	    </li>
{% endfor %}
</ul>
