---
layout: default
title: index
---
<ul>
  {% for cat in site.categories %}
    <h2>
	    {{ cat[0] }}
    </h2>
	<ul>
	  {% for post in cat[1] %}
	    <li>
		    <a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>
	    </li>
	  {% endfor %}
	</ul>
  {% endfor %}
</ul>

<h2>Static files</h2>
{% assign image_files = site.static_files | reverse %}
<ul>
{% for myimage in image_files | offset: 2 %}
	    <li>
		    <a href="{{myimage.path| prepend: site.baseurl}}">{{ myimage.name }}</a>
	    </li>
{% endfor %}
</ul>

