body {
	font-family: Helvetica;
	margin-left: 50px;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
h2 {
  font-size: 20px;
  font-weight: 300;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom : 20px;
    border-radius: 8px;
    font-family: Monospace;
    text-align: center;
    color: white;
    background-color: purple;
}
/* li { */
/* 	margin: 25px; */
/* } */
ul {
  display: block;
  margin-left: -10px;
}

ul li {
  display: block;
  position: relative;
}

ul li:not(:last-child) {
  margin-bottom: 1px;
}

ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -.9em;
  background: #f69ec4;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
code {
	background: #e8dbef;
}    
